{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <center>

    <h3>Index</h3>

    <img src="{% static 'images/django.jpg' %}"/>

    <h4>{{ curso }}</h4>

    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.estoque }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    <button onclick="teste();">Click</button>
    </center>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>