body{
    background-color: #341256;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffffff;
}

table{
  border: 1px solid white;
  width: 100%;
  text-align: center;
  vertical-align: center;
}

